.panel {
    margin-bottom: 65px;

    & .swiper {
        border-radius: 15px;
        height: 645px;
        position: relative;

        &-pagination-bullet {
            background: black;
            transition: 0.4s;

            &-active {
                transition: 0.4s;
                transform: scale(1.7);
            }
        }

    }

    &_img {
        position: absolute;
        top: 0;
        left: 0;
        height: 645px;
        object-fit: cover;
        z-index: -1;
        width: 100%;
    }

    &_box {
        display: flex;
        align-items: left;
        justify-content: center;
        flex-direction: column;
        padding: 40px;

        &-title {
            font-family: 'Montserrat';
            font-size: 33px;
            font-weight: 500;
            line-height: 130.303%;
            color: white;
        }

        &-price {
            font-family: 'Montserrat';
            font-size: 26px;
            font-weight: 400;
            line-height: 134.615%;
            padding: 15px 0 50px;
            color: white;
        }

        &-btn {
            color: #FFF;
            font-family: 'Raleway';
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            padding: 14px 32px;
            max-width: fit-content;
            border-radius: 6px;
            border: 2px solid #FFF;
        }
    }

}